<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% block headerSource %}
	<link rel="stylesheet" href="css/common.css">
    <script type="text/javascript" src="js/adaptive.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
	{% endblock %}
</head>
<body>

	{% block headerTop %}
	<div class="headertop">
	    <div class="headercontent">
	        点击左上角按钮，在弹出的菜单中，点击“在浏览器打开”，进去APP
	    </div>
	    <img class="sportsimg" src="images/top/headertop.png"/>
	</div>
	{% endblock %}

	{% block body %}
	<div class="recommend">
	    <h1 class="rcmd-title">相关推荐</h1>
	    <div id="rcmdContainer"></div>
	</div>
	<p class="footer">已经到底了</p>
	<div class="footersticky">
	    <div class="setimg">
	        <img class="showimg" src="images/footer/appicon.jpg"/>
	    </div>
	    <div class="showdetail">
	        <p class="layer">斐讯健康</p>
	        <p class="healthdetail">爱生活 爱健康</p>
	    </div>
	    <div class="callbackthis">立即打开</div>
	</div>
	{% endblock %}

    {% block footerSource %}
    <script type="text/javascript">
	    var param = { resId: 1, type: 'essay' };
	    var observer = lozad();
	    observer.observe();
	</script>
	<script type="text/javascript" src="js/request.js"></script>
	<script type="text/javascript" src="js/common/footerDown.js"></script>
    {% endblock %}
</body>
</html>
