{% extends "base.html" %}

{% block headerSource %}
<title>提升基础代谢率</title>
{{ super() }}
{% endblock %}

{% block body %}
<div class="article">
	<div class="title">
		<h1>提升基础代谢率</h1>
        <p>小斐综合整理</p>
	</div>
    <div class="content">
		<p class="main_title">提高基础代谢率，躺着也能瘦！</p>
    	<img class="lozad" data-src="images/raise_metabolize/kaboompics_Jar-full-of-walnuts-with-a-fresh-healthy-shake-and-musli-in-a-bowl.png" alt="...">
        <p class="main_title">·&nbsp;什么是基础代谢率</p>
		<p>基础代谢(basal metabolism,BM)是指人体维持生命的所有器官所需要的最低能量需要。即使整天静卧也会消耗掉的热量。</p>
		<p>基础代谢率会随着年龄增长而逐渐下滑，但只要维持良好的运动习惯，便能有效提高。</p>
		<img class="lozad" data-src="images/raise_metabolize/e59fbae7a48ee4bba3e8ac9dbasalmetabolicrate.png" alt="...">
		<p class="main_title">·&nbsp;怎么计算基础代谢率</p>
		<p>以一位体重50公斤、身高160公分、28岁的女生来说：</p>
		<p>BMR=655+(9.6X50)+(1.8X160)-(4.7X28)<br><span style="margin-left: 0.9rem">=655+480+288-131.6</span><br><span style="margin-left: 0.9rem">=1291.4</span></p>
		<img class="lozad" data-src="images/raise_metabolize/3.png" alt="...">
		<p>通常人体重要器官（脑、胃、肝等）一天要消耗约六成的基代，如果长期没提供身体足够能量，不仅对健康有伤害，就算靠少吃很快瘦了，也容易一吃就胖回来，故建议每天吃[略高]于基代咯！</p>
		<img class="lozad" data-src="images/raise_metabolize/chuttersnap-210450.png" alt="...">
		<p class="main_title">·&nbsp;怎么提高基础代谢率</p>
		<p>1、有氧运动（即使结束后也会维持在高代谢一段时间）<br />2、无氧运动（因为肌肉消耗的热量是脂肪的十倍以上）<br />3、充分喝水<br />4、泡热水澡</p>
		<img class="lozad" data-src="images/raise_metabolize/pexels-photo-317157.png" alt="...">
		<p>在减肥过程中，若能养成运动习惯则可以让基础代谢率提升，每时每刻都会消耗更多的热量。</p>
    </div>
</div>
{{ super() }}
{% endblock %}
