
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    color: #373737;
}
ul {
    list-style: none;
}
a img {
    border: 0;
}
.h5-plugin-tab {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    overflow: hidden;
}
.h5-plugin-tab-in {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    height: 100%;
    overflow: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin: .4rem 0 .2rem 0;
}
.h5-plugin-tab-in::-webkit-scrollbar {
    display:none
}
.h5-plugin-tab ul li {
    display: inline-block;
    font-size: .42rem;
    font-weight: bold;
    width: 20%;
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: .21rem;
    position: relative;
}
.h5-plugin-tab ul li::after {
    content: "";
    width: .3rem;
    height: .1rem;
    background-color: transparent;
    border-radius: .05rem;
    position: absolute;
    bottom: 0;
    left: 42%;
}
.h5-plugin-tab ul li a {
    text-decoration: none;
}
.h5-plugin-tab .on a {
    color: #469cf8;
}
.h5-plugin-tab .on::after {
    background-color: #469cf8;
}
.h5-plugin-tab.center {
    text-align: center;
    height: 40px;
    background: #f6f6f6;
    position: relative;
    z-index: 1000;
    border-bottom: 1px solid #dcdcdc;
}
.h5-plugin-tab.center ul {
    display: -webkit-box;
}
.h5-plugin-tab.center li {
    display: block !important;
    -webkit-box-flex: 1;
}

/*内容*/
.tab_con {
    width: 100%;
    position: absolute;
    top: 1.1rem;
    bottom: 0;
    overflow: hidden;
}
.tab_box {
    position: relative;
}
.tab_list {
    position: absolute;
    bottom: 0;
    top: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.tab_list .tab_list_item:nth-of-type(3n+2) {
    padding: 0 .05rem;
}
.tab_list .tab_list_item {
    width: 3.3rem;
    float: left;
    margin-top: .27rem;
}
.tab_list .tab_list_item a {
    display: block;
    margin-bottom: .14rem;
    width: 3.3rem;
    height: 1.87rem;
    background: #eee;
    border: 1px solid #eee;
    box-sizing: border-box;
}
.tab_list .tab_list_item a img {
    width: 100%;
    height: 100%;
}
.tab_list .tab_list_item p {
    padding: 0 .26rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tab_list .tab_list_item p:nth-of-type(1) {
    font-size: .32rem;
    letter-spacing: 0.04rem;
    font-weight: bold;
}
.tab_list .tab_list_item p:nth-of-type(2) {
    font-size: .29rem;
    opacity: .5;
    margin-top: .2rem;
}
.lists:after {
    content: '';
    display: block;
    clear: both;
}
