<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	{% block headerSource %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
	<link rel="stylesheet" href="css/common.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script type="text/javascript">
        var head = document.getElementsByTagName('head')[0];
        if(/Android|webOS|iPhone|iPod|BlackBerry|Mobile/i.test(navigator.userAgent)) {
            var script = document.createElement("script");
            script.type = 'text/javascript';
            script.src = 'js/adaptive.js';
            head.appendChild(script);
        } else {
            document.documentElement.style = 'font-size: 75px; width: 750px; margin: 0 auto;';
        }
    </script>
	{% endblock %}
</head>
<body data="{{env}}">

	{% block headerTop %}
	<div class="headertop">
	    <div class="headercontent">
	        点击右上角按钮，在弹出的菜单中，点击“在浏览器打开”，进入APP
	    </div>
	    <img class="sportsimg" src="images/top/headertop.png"/>
	</div>
	{% endblock %}

	{% block body %}
	<div class="recommend">
	    <h1 class="rcmd-title">相关推荐</h1>
	    <div id="rcmdContainer"></div>
	</div>
	<p class="footer">已经到底了</p>
	<div class="footersticky">
	    <div class="setimg">
	        <img class="showimg" src="images/footer/appicon.jpg"/>
	    </div>
	    <div class="showdetail">
	        <p class="layer">斐讯健康</p>
	        <p class="healthdetail">爱生活 爱健康</p>
	    </div>
	    <div class="callbackthis">立即打开</div>
	</div>
	{% endblock %}

    {% block footerSource %}
	<script type="text/javascript" src="js/request.js"></script>
    {% endblock %}
</body>
</html>
