{% extends "base.html" %}

{% block headerSource %}
<title>别再把“没时间运动”当借口</title>
{{ super() }}
{% endblock %}

{% block body %}
<div class="article">
	<div class="title">
		<h1>别再把“没时间运动”当借口</h1>
        <p>小斐综合整理</p>
	</div>
    <div id="content" class="content">
		<p>不管是工作繁忙的社会人士，或是背负课业压力的学生，当被问到有没有规律的运动习惯时，最常见的回答就是：“忙到没时间”。尤其许多社会新鲜人，刚找到工作时常常把自己的时间安排得很充实，每天下班之后打算去健身房、做瑜伽。</p>
		
		<div class="loadImg"	>
		<img class="lozad" data-src="images/no_time/avrielle-suleiman-450142.jpg" alt="...">
	</div>

		<p>但是一个月后就发现事实却是永无止境的加班，回到家之后还要面对没洗的衣服、凌乱的客厅，当初画好的蓝图早就不见踪影。</p>
		<p>其实做运动没有我们想的那么困难，接下来就要告诉大家如何利用生活中的三个不同时段的空档，燃烧堆积身上的脂肪。看完这篇文章，你再也没有理由不做运动。</p>
		
		<div class="loadImg">
			<img class="lozad" data-src="images/no_time/2.jpg" alt="...">
        </div>

        <p class="main_title">·&nbsp;在家里</p>
		<p>1.勤于打扫</p>
		<p>是不是每次吸地、擦地板时都会忙得汗流浃背呢？那是因为每15分钟的清洁工作就会消耗掉你40cal的热量。而深度清洁(例如让地板一尘不染或是使浴室变得跟全新的一样)每小时更可以燃烧掉250cal的热量。</p>
		
		<div class="loadImg">
			<img class="lozad" data-src="images/no_time/iStock-624989230-59e4cefe68e1a20011f7fc88.jpg" alt="...">
		</div>

		<p>2.利用电视广告时间站起来伸展</p>
		<p>可以舒服地陷在沙发椅中放松的确是一大享受，但不要连广告时间也忙着吃零食、喝饮料，而是应该站起来活动筋骨、做做体操，让身体不那么僵硬。</p>
		<p>3.听自己喜欢的音乐</p>
		<p>能够有音响播出来当然是最过瘾，但入果你是与家人同住也可以戴上耳机，随着音乐的节奏摇摆。这除了能让你的身体动起来之外，对于调适心情也有很大的帮助！</p>
		
		<div class="loadImg">
			<img class="lozad" data-src="images/no_time/pexels-photo-761963.jpg" alt="...">
		</div>

		<p class="main_title">·&nbsp;工作时</p>
		<p>1.站着做事</p>
		<p>很多上班族的工作必须整天在办公桌前，但是谁说一定要坐着呢？如果你坐的浑身酸痛，不如就站起来吧！这样一来每小时能够多消耗35cal的热量。</p>
		
		<div class="loadImg">
			<img class="lozad" data-src="images/no_time/pexels-photo-546275.jpg" alt="...">
		</div>

		<p>2.坐着时把背坐直</p>
		<p>如果你的工作性质无法站立，只能坐着，那也要有正确的坐姿才可以。抬起胸膛、腰杆打直、肚子往内收，如此一来才不会养成驼背的恶习，每小时也可以多消耗10cal的热量！</p>
		<p>3.摆动你的肩颈和手臂</p>
		<p>适时摆动你的肩膀、向左右两侧转头以及挥动双臂(当然是肩膀以下的部分，而不是只包含手肘以下)，这些动作可以缓解你长时间紧绷的肩膀，活动关节、增加你的柔软度。</p>
		
		<div class="loadImg">
			<img class="lozad" data-src="images/no_time/pexels-photo-440581.jpg" alt="...">
		</div>

		<p>4.在座位下抬腿</p>
		<p>如果担心太显眼会被别人盯着看的话，可以从你藏在办公桌下的双腿做起。将双腿伸直，然后慢慢举到水平线，当你的腿开始觉得酸再放下来，如此反覆循环。</p>
		<p class="main_title">·&nbsp;通勤时</p>
		<p>1.走楼梯而非搭电梯</p>
		<p>别受到电梯或手扶梯的诱惑，当有楼梯的时候就选择走楼梯吧！每12阶楼梯就能燃烧5cal的热量，听起来或许不多，但累积起来也是相当可观！</p>
		
		<div class="loadImg">
			<img class="lozad" data-src="images/no_time/lindsay-henwood-47743.jpg" alt="...">
		</div>

		<p>2.步行或骑脚踏车代替坐车</p>
		<p>骑脚踏车30分钟可以消耗65cal的热量，走路30分钟可以消耗70cal的热量。如果你要去的地方不算远，这两项交通方式是相当健康又环保的选择。</p>
		<p>3.趁着等红绿灯或搭车时垫脚</p>
		<p>垫脚尖可以锻炼小腿肌，改善浮肿，促进代谢。搭交通工具通勤时，手扶住椅背或是拉环杆维持身体平衡，将脚尖垫起并维持 20 到 30 秒然后放松。可以重复多做几次，别忘了让自己的身体面对行进方向，才不会重心不稳。</p>
   		<p>其实做这些运动的用意并不是真的要以减肥为目标，而是希望能藉由日常生活中的琐碎时间让身体也能动起来。毕竟从生活中养成良好习惯，能够持之以恒的规律运动才是让身体健康的源头。</p>
    </div>
</div>
{{ super() }}
{% endblock %}